:root{
    --mauchu: #5F5F5F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p,ul{
    color: #616161;
}

a:link{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

main{
    width: 100%;
    height: auto;
}

.breadcrumb{
    font-size: 20px;
    margin-bottom: 10px;
}

.banner-img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.banner-img img{
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content{
    margin-bottom: 20px;
}

.content p{
    line-height: 1.6;
    font-size: 18px;
}

.img-content{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.img-content img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.title1{
    line-height: 2;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 20px;
}

.title1 h2{
    text-transform: uppercase;
}

.title1 ul{
    margin-left: 28px;
}

.title1:last-child{
    line-height: 2;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 40px;
}